torch
torchvision
torchmetrics[image]

matplotlib
wandb[media]

isort
autopep8

einops
accelerate
hydra-core==1.3.1
transformers
datasets
diffusers

wandb
timm
torchmetrics
torch-fidelity

tensorboard
xformers
scikit-learn
scipy
distinctipy

blobfile
piq
bitsandbytes
wheel
ftfy
lmdb
lpips

pycocotools

opencv-python
scikit-image

sentencepiece
Jinja2
peft